button {
  border: none;
  background: inherit;
  cursor: pointer;
  padding-right: 4px;
}

button.remove {
  color: red;
  padding: 0;
}

button.completed {
  color: green;
  padding: 0;
  padding-right: 0.5rem;
}

.todo-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border: 1px solid;
  border-radius: 3px;
  margin: 3px;
  flex: 0 1 auto;
  height: 2rem;
  line-height: 2rem;
  text-indent: 1rem;
}

.editing {
  border-color: #8fcaee;
  transition: border 0.4s;
}

.edit-input {
  border: none;
  color: gray;
  font-size: 17px;
  text-align: center;
  width: 100%
}

todo-content {

}

.todo-actions {

}
