  <li class='todo-item' v-if='!todo.editing' v-on:click='$emit("edit", index)'>
    <span class='todo-content'>{{todo.title}}</span>
    <div class='todo-actions'>
      <button
        class='remove'
        v-on:click='$emit("remove")'
      ><i class='fa fa-remove' /></i></button>
      <button
        class='completed'
        v-on:click='$emit("completed")'
      >
        <i class='fa fa-check' />
      </button>
    </div>
  </li>
  <input
    class='todo-item editing edit-input'
    type='text'
    value='todo.title'
    v-if='todo.editing'
    v-bind:value='value'
    v-on:input='updateTodo($event.target.value)'
    v-on:keyup.enter='$emit("save", index)'
    ref='todoInput'
  />
