button {
  outline: none;
  background: inherit;
  cursor: pointer;
  padding-right: 4px;
}

button:focus {
  outline: none;
}

button.completed {
  color: green;
}

button.active {
  color: gray;
  border: none;
}

i {
  padding-right: 10px;
}

button.remove {
  color: black;
}

.todo-content-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border: 1px solid black;
  width: 100%;
  height: 100%;
  position: relative;
  flex: 0 1 auto;
  border-radius: 3px;
  line-height: 3rem;
  text-indent: 1rem;
  font-size: 1.2rem;
}

.todo-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  padding-right: 10px;
}
