* {
  box-sizing: border-box;
}

html, body {
  font-family: ubuntu;
  height: 100vh;
  width: 100%;
  margin: 0;
  background: #8fcaee;
}

.container {
  height: 100%;
  width: 100%;
}

.app-title {
  margin-bottom: 0;
  text-align: center;
  font-size: 39px;
  color: #fff;
  margin-bottom: 1rem;
  border-bottom: 2px solid;
  border-top: 2px solid;
  padding: 1rem;
  text-shadow: 1px 1px 1px blue;
  background: #27496d;
}
