.todo-list {
  padding-left: 0;
  position: relative;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.todo-wrapper {
  width: 100%;
  position: relative;
  margin: 0;
  list-style: none;
  height: 2rem;
  margin-bottom: 5px;
}

.edit-input {
  border: none;
  color: gray;
  font-size: 17px;
  text-align: center;
  width: 100%;
  opacity: 1;
}
