<ul class='todo-list'>
  <div v-for='(todo, index) in todos'>
    <li class='todo-wrapper' v-if='hasStatus[index]'>
      <todo-item
        v-if='hasStatus[index] && !isEditing[index]'
        :todo='todo'
        :index='index'
        :key='index'
        v-on:remove='todos.splice(index, 1)'
        v-on:completed='$emit("completed", index)'
        v-on:edit='edit'
        v-on:save='save'
      />
      <edit-todo
        v-if='hasStatus[index] && isEditing[index]'
        :todo='todo'
        :index='index'
        :key='index'
        v-on:remove='todos.splice(index, 1)'
        v-on:edit='edit'
      />
    </li>
  </div>
</ul>
